    absl-py==1.4.0
access==1.1.9
affine==2.3.1
afinn==0.1
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
altair==4.2.2
altair-data-server==0.4.1
altair-saver==0.5.0
altair-viewer==0.4.0
ansi2html==1.8.0
anyio==3.6.2
appdirs==1.4.4
argcomplete==1.10.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.2.0
arviz==0.15.1
asciitree==0.3.3
ase==3.22.1
astor==0.8.1
astroid==2.15.2
astropy==5.2.2
asttokens==2.2.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.0
autobahn==23.1.2
autocommand==2.2.2
autograd==1.5
autograd-gamma==0.5.0
Automat==22.10.0
autopep8==2.0.2
aws-requests-auth==0.4.3
Babel==2.11.0
babypandas==0.1.7
backcall==0.2.0
bambi==0.10.0
basemap==1.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
biogeme==3.2.11
bitarray==2.7.3
black==23.3.0
bleach==6.0.0
blessings==1.7
blinker==1.6.2
blis==0.7.9
blosc2==2.0.0
bokeh==3.1.0
boto3==1.26.89
botocore==1.29.89
bottle==0.12.25
Bottleneck==1.3.7
Box2D==2.3.10
branca==0.6.0
btrfsutil==6.2.2
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
cachy==0.3.0
cairocffi==1.4.0
Cartopy==0.21.1
catalogue==2.0.8
celluloid==0.2.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
cftime==1.6.2
cgen==2020.1
chardet==5.1.0
charset-normalizer==3.1.0
chart-studio==1.1.0
check50==3.3.7
cleo==2.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==2.2.1
cmocean==3.0.3
colorama==0.4.6
colorcet==3.0.1
colour==0.1.5
comm==0.1.3
compressed-rtf==1.0.6
confection==0.0.4
configobj==5.0.8
cons==0.4.5
constantly==15.1.0
contextily==1.3.0
contextualbandits==0.3.20.post3
contourpy==1.0.7
coverage==6.5.0
crashtest==0.4.1
cryptography==40.0.1
cs50==9.2.5
cssselect==1.2.0
cvxopt==1.3.0
cxxtest==4.4
cycler==0.11.0
cymem==2.0.7
cypari2==2.1.3
cysignals==1.11.2
Cython==0.29.34
cythonbiogeme==1.0.1
dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.12.1
dataclasses-json==0.5.7
datascience==0.17.6
datashader==0.14.4
datashape==0.5.2
DateTime==5.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
dnspython==2.3.0
docstring-to-markdown==0.12
docutils==0.19
docx2txt==0.8
drawsvg==2.1.1
dscribe==1.2.2
dtreeviz==2.2.1
dulwich==0.21.3
ebcdic==1.1.1
ecos==2.0.12
editables==0.3
EditorConfig==0.12.3
eli5==0.13.0
empiricaldist==0.6.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
esda==2.4.3
et-xmlfile==1.1.0
etils==1.2.0
etuples==0.3.5
exceptiongroup==1.1.1
executing==1.2.0
extract-msg==0.28.7
factor-analyzer==0.4.1
fairlearn==0.8.0
fasteners==0.18
fastjsonschema==2.16.3
fastprogress==1.0.3
ffmpeg==1.4
fica==0.2.2
filelock==3.12.0
Fiona==1.8.22
flake8==6.0.0
Flask==2.2.3
flatbuffers==23.3.3
flit_core==3.8.0
folium==0.14.0
fonttools==4.39.3
formulae==0.3.4
formulaic==0.5.2
fpylll==0.5.9
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gap-stat==2.0.2
gast==0.3.3
gcsfs==2023.4.0
GDAL==3.6.4
gdown==4.7.1
gensim==4.3.0
geographiclib==2.0
geopandas==0.12.2
geoplot==0.5.1
geopy==2.3.0
george==0.4.0
geoviews==1.9.6
gevent==22.10.2
giddy==2.3.4
gitdb==4.0.10
GitPython==3.1.30
gmpy2==2.1.5
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
gplately @ git+https://github.com/GPlates/gplately.git@6c502e469b3a319b485a78903667e88157bb57d4
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.53.0
gspread==5.8.0
gym==0.26.2
h11==0.14.0
h2==4.1.0
h5netcdf==1.1.0
h5py==3.8.0
hatchling==1.14.0
help50==3.0.5
holoviews==1.15.4
hpack==4.0.0
htbuilder==0.6.1
html5lib==1.1
html5validator==0.4.2
httplib2==0.22.0
httpstan==4.10.0
huggingface-hub==0.14.0
hvplot==0.8.3
hyperframe==6.0.1
hyperlink==21.0.0
hyperopt==0.2.7
hypothesis==6.72.2
ibm-cos-sdk==2.13.0
ibm-cos-sdk-core==2.13.0
ibm-cos-sdk-s3transfer==2.13.0
ibm-watson-machine-learning==1.0.294
icdiff==2.0.6
identify==2.5.22
idna==3.4
imageio==2.28.0
imagesize==1.4.1
IMAPClient==2.1.0
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==5.0.0
importlib-resources==5.12.0
imutils==0.5.4
incremental==22.10.0
inequality==1.0.0
inflect==6.0.4
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
intake==0.6.8
intake-xarray==0.6.1
interface-meta==1.3.0
introcs==1.3.1
ipycanvas==0.13.1
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isort==5.12.0
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jarowinkler==1.2.3
jax==0.4.8
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.11.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsbeautifier==1.14.7
json5==0.9.13
jsonlines==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-cache==0.6.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_packaging==0.12.3
jupyter_server==2.5.0
jupyter_server_proxy==4.0.0
jupyter_server_terminals==0.4.4
jupyterlab==3.6.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.22.1
jupytext==1.14.5
kaleido==0.2.1
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-rl2==1.0.5
keras-vis @ file:///build/.cache/yay/python-keras-vis/src/keras_vis-0.4.1-py2.py3-none-any.whl
keyring==23.11.0
kiwisolver==1.4.4
langchain==0.0.148
langcodes==3.3.0
lark==1.1.5
latexcodec==2.0.1
lazy-object-proxy==1.9.0
lazy_loader==0.2
Levenshtein==0.21.0
lib50==3.0.6
libclang==16.0.0
libfdt==1.6.1
libpysal==4.7.0
librosa==0.10.0.post2
lifelines==0.27.4
lime==0.2.0.1
lit==15.0.7.dev0
llvmlite==0.40.0rc1
locket==1.0.0
lockfile==0.12.2
logical-unification==0.4.5
lomond==0.3.3
lrcalc==2.0.0
lxml==4.9.2
mapclassify==2.5.0
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matminer==0.8.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
memory-allocator==0.1.3
mercantile==1.2.1
metakernel==0.29.4
mgwr==2.1.2
miniKanren==1.0.3
MiniSom==2.3.1
missingno==0.5.2
mistune==2.0.5
mittens==0.2
ml-dtypes==0.1.0
mlxtend==0.22.0
mmh3==2.5.1
mock==3.0.5
mockr==0.36
momepy==0.5.4
monty==2023.4.10
more-itertools==9.1.0
mplsoccer==1.1.11
mpmath==1.3.0
mrjob==0.7.4
msgpack==1.0.4
multidict==6.0.4
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.9
mypy==1.1.1
mypy-extensions==1.0.0
mysql-connector-python==8.0.33
mysqlclient==2.1.1
myst-nb==0.17.2
myst-parser==0.18.1
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
neotermcolor==2.0.10
nest-asyncio==1.5.6
netCDF4==1.6.3
networkx==2.8.8
neurokit2==0.2.4
nltk==3.8.1
nodeenv==1.7.0
notebook==6.5.4
notebook_shim==0.2.2
numba==0.57.0rc1
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.24.2
oauthlib==3.2.2
octave_kernel==0.35.1
olefile==0.46
openai==0.27.4
openapi-schema-pydantic==1.2.4
OpenMatrix==0.3.5.0
openpyxl==3.1.2
openreview-py==1.24.0
opt-einsum==3.3.0
ordered-set==4.1.0
osqp==0.6.2.post9
otter-grader==4.3.2
outcome==1.2.0
packaging==23.0
palettable==3.3.3
pandas==1.5.3
pandas-datareader==0.10.0
pandas-stubs==2.0.0.230412
pandaSDMX==1.10.0
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parcels @ git+https://github.com/OceanParcels/parcels.git@182e3085b766af61842ee3a622ad94d97e210a1a
parsel==1.7.0
parso==0.8.3
partd==1.4.0
pastel==0.2.1
pathspec==0.11.1
pathy==0.10.1
patsy==0.5.3
pbr==5.11.1
pdfminer.six==20191110
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
Pint==0.19.2
pkginfo==1.9.6
PlateTectonicTools==0.4.1
platformdirs==3.2.0
plotly==5.14.1
pluggy==1.0.0
ply==3.11
poetry==1.4.2
poetry-core==1.5.2
poetry-plugin-export==1.3.0
pointpats==2.3.0
pooch==1.7.0
portpicker==1.5.2
pplpy==0.8.7
pre-commit==3.2.2
preshed==3.0.8
prettytable==3.7.0
primecountpy==0.1.0
priority==2.0.0
prob140==0.4.1.5
progressbar==2.5
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
Protego==0.2.1
protobuf==4.21.12
psutil==5.9.4
psycopg2==2.9.6
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pwquality==1.4.5
py==1.11.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pybind11==2.10.4
pybtex==0.24.0
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pyct==0.5.0
pycurl==7.45.2
pydantic==1.10.7
pydeck==0.8.1b0
PyDispatcher==2.0.6
pydot==1.4.2
pydotplus==2.0.2
pyds2021==0.9
pyenchant==3.2.2
pyerfa==2.0.0.1
pyflakes==3.0.1
pygame==2.1.3
pygeos==0.14
pyglet==2.0.5
Pygments==2.14.0
PyGObject==3.44.1
PyJWT==2.6.0
pykdtree==1.3.7.post0
pylatexenc==2.10
pylev==1.4.0
pymannkendall==1.4.3
pymatgen==2022.1.9
pymbolic==2022.2
pymc==5.3.0
pymongo==4.3.3
Pympler==1.0.1
pymtl3==3.1.15
PyMySQL==1.0.3
pynverse @ git+https://github.com/yz3558/pynverse@829ae448e1cbea1b26f519052408277686a4bc47
pyogrio==0.5.1
pyOpenSSL==23.1.1
pyparsing==3.0.9
pyproj==3.5.0
pyproject_hooks==1.0.0
pyreadstat==1.2.1
pyresample==1.26.1
pyrsistent==0.19.3
pysal==23.1
pyshp==2.3.1
pysimdjson==5.0.2
PySocks==1.7.1
pystan==3.7.0
pytensor==2.11.1
pytest==7.3.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-Levenshtein==0.21.0
python-louvain==0.16
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-magic==0.4.27
python-on-whales==0.60.1
python-pptx==0.6.21
python-speech-features==0.6
pytools==2022.1.14
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.2
qdldl==0.1.7
qtconsole==5.4.2
QtPy==2.3.1
Quandl==3.7.0
quantecon==0.7.0
queuelib==1.6.2
quilt3==5.3.0
rapidfuzz==2.15.0
rasterio==1.3.6
rasterstats==0.18.0
rdatasets==0.1.0
recordclass==0.18.3
recordlinkage==0.15
regex==2023.3.23
requests==2.28.2
requests-file==1.5.1
requests-futures==1.0.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests-unixsocket==0.3.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.3
rpy2==3.5.11
rsa==4.9
Rtree==1.0.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
rvlib==0.0.6
s3transfer==0.6.0
sagemath-standard==9.8
schemdraw==0.15
scikit-image==0.20.0
scikit-learn==1.2.2
scikit-plot==0.3.5
scikit-surprise==1.1.3
scikit-survival==0.20.0
scipy==1.10.1
Scrapy==2.7.1
seaborn==0.12.2
SecretStorage==3.3.3
segregation==2.3.1
selenium==4.9.0
semantic-version==2.10.0
Send2Trash==1.8.0
service-identity==21.1.0
setuptools-rust==1.5.2
setuptools-scm==7.1.0
shap==0.41.0
Shapely==1.8.5.post1
shellingham==1.5.0.post1
simpervisor==0.4
simplejson==3.19.1
simpy==3.0.10
siphon==0.9
six==1.16.0
sklearn==0.0.post4
sklearn-som==1.1.0
slicer==0.0.7
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.5
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spaghetti==1.7.2
sparse==0.14.0
SpeechRecognition==3.9.0
spglib==2.0.2
spglm==1.0.8
Sphinx==6.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spint==1.0.7
splot==1.1.5.post1
spopt==0.5.0
spreg==1.3.2
spvcm==0.3.0
SQLAlchemy==1.4.46
sqlparse==0.4.4
srsly==2.4.6
st-annotated-text==4.0.0
stable-baselines==2.10.1
stable-baselines3==1.5.0
stack-data==0.6.2
stanfordkarel==0.2.7
statsmodels==0.13.5
streamlit==1.21.0
stripy==2.2
style50==2.7.5
sympy==1.11.1
tables==3.8.0
tabulate==0.9.0
TBB==0.2
tenacity==8.2.2
tensorboard==2.12.1
tensorboard-data-server==0.8.0a0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
termcolor==2.2.0
terminado==0.17.1
testpath==0.6.0
TexSoup==0.3.1
textract==1.6.5
tf-keras-vis==0.8.4
tflearn==0.5.0
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.3.3
timeout-decorator==0.5.0
tinycss2==1.2.1
tld==0.13
tldextract==3.4.0
tobler==0.9.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
torch==2.0.0
torchtext==0.15.1a0+c696895
torchvision==0.15.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.28.1
trio==0.22.0
trio-websocket==0.10.2
trove-classifiers==2023.4.20
Twisted==22.10.0
txaio==23.1.1
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
ujson==5.7.0
uncertainties==3.1.7
uritemplate==4.1.1
urllib3==1.26.13
validate-pyproject==0.12.2.post1.dev0+g2940279.d20230328
validators==0.20.0
vega-datasets==0.9.0
versioneer==0.28
virtualenv==20.17.1
visJS2jupyter==0.1.16
vpython==7.6.4
w3lib==2.1.1
wasabi==1.1.1
watchdog==3.0.0
waterfallcharts==3.8
wbgapi==1.0.12
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
wfdb @ git+https://github.com/melbourne-cdth/wfdb-python@a36c22e12f8417ff18e57dbe54b7180dd183ec66
widgetsnbextension==4.0.7
wordcloud==1.8.2.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.1.0
xarray-einstats==0.5.0
xcffib==1.2.0
xgboost==1.7.5
xlrd==2.0.1
XlsxWriter==3.1.0
xyzservices==2023.2.0
yarl==1.9.1
zarr==2.14.2
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
zstandard==0.20.0
